:root {
    --main-color:#FF0000;
	--var-black:#000000;
	--var-gray:#101010;
	--var-lgray:#202020;

	--var-orange:#FF5000;
	--var-lorange:#FFA000;
	--var-code:yellow;
}

body {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 0px;

	font-family: sans;
}


#maindiv, #headerdiv, #imgdiv {
	background-color: var(--var-gray);
	color: var(--main-color);

}

@media only screen and (min-width: 800px){
	#maindiv, #headerdiv, #imgdiv {
		margin-left: 15%;
		margin-right: 15%;
		border: 2px solid var(--main-color);
		border-radius: 20px;
	}
}

@media only screen and (max-width: 800px){
	#maindiv, #headerdiv, #imgdiv {
		border-top: 2px solid var(--main-color);
		border-bottom: 2px solid var(--main-color);
	}
	#headerdiv{
		flex-wrap: wrap;
	}
}

#headerdiv {
	margin-bottom: 32px;
	display: flex;
	justify-content: space-around;
}

img {
	border: 2px solid var(--main-color);
	border-radius: 20px;
	margin: 16px;
	max-width: 90%;
}



table {
	text-align: left;
	margin-left: 36px;
	border: 2px solid var(--main-color);
	border-radius: 20px;
}


td:not(:empty), th {
	color: var(--main-color);
	background: var(--var-lgray);
}


#imgdiv img {
	width: 90%;
	text-align: center;
	margin: 30px auto 4px;
	display: block;
}

#maindiv > img {
	margin: 30px auto 4px;
	display: block;
}

#comparison {
	text-align: center;

}

a {
	color: var(--var-orange);
}

a:hover {
	color: var(--var-lorange);
}


#headerdiv a {
	margin-top: 16px;
	display: inline-block;
	margin-bottom: 16px;
	margin-right: 6%;
	margin-left: 6%;

}

body {
	background-color: var(--var-black);
}



h1 {
	border-bottom: 2px solid var(--main-color);
}

hr {
	border-top: 1px solid var(--main-color);
	border-bottom: none;
	margin-left: 16px;
	margin-right: 40%;
}

h2  {
	text-align: left;
	text-decoration: underline;
	margin-left: 16px;

}

h3 {
	text-align: left;
	margin-left: 32px;
}

h4 {
	text-align: left;
	margin-left: 48px;
}

p, li, code, pre {
	margin-left: 48px;
	margin-right: 48px;
	text-align: left;
}

p code, li code{
	/* Code that appears inline - no need for margin */
	/* <pre> is used for code blocks */
	margin: 0px;
	padding: 1px;
	border: 1px solid var(--main-color);
	color: var(--var-code);
}

code {
	background-color: var(--var-black);
}

blockquote {
	border-left: 2px solid var(--main-color);
	margin-left: 46px;
	opacity: 70%;
}

blockquote p{
	margin-left: 16px;
}


pre code {
	color: var(--var-code);
}

pre{
	background-color: var(--var-black); !important
	overflow: auto !important;
	word-break: normal !important;
	word-wrap: normal !important;
	white-space: pre-wrap !important;
	border-left: 1px dashed var(--main-color);
	padding-left: 16px;
}

li p {
	/* li already handles margin*/
	margin-left: 0px;
	margin-right: 0px;
}


#imgdiv p {
	text-align: center;
}


h1 {
	text-align: center;
}

::selection {
	background: var(--main-color);
	color: var(--var-black);
}

@media print {
	h1 {page-break-before: always;}
	table {page-break-inside: avoid; }
	p,li,h1,h2,h3,h4,code,td,th,pre,span, body p code, body li code, table td:not(:empty), body table td code { color: black; !important }
	img, table { border-color: black; !important }
}

